---
import Base from '@layouts/Base.astro';
import type { GetStaticPaths } from 'astro';
import { fractals } from '@data/fractals';
import zoomIn from '/icons/zoom-in.svg?raw';
import zoomOut from '/icons/zoom-out.svg?raw';
import home from '/icons/home.svg?raw';
import { DefaultAction } from '../data/types';
import type { FractalInfo } from '../data/fractal';
import { Fractal } from '../opengl/main/Fractal';

export const getStaticPaths = (() =>
	fractals
		.filter((fractal) => fractal?.id)
		.map((fractal) => ({
			params: { fractal: fractal.id },
			props: { fractal },
		}))) satisfies GetStaticPaths;

interface Button {
	title: string;
	icon: string;
	eventAction: DefaultAction;
}
const buttons: Button[] = [
	{
		title: 'Tornar a la posició inicial',
		icon: home,
		eventAction: DefaultAction.HOME,
	},
	{
		title: 'Apropar-se',
		icon: zoomIn,
		eventAction: DefaultAction.ZOOM_IN,
	},
	{
		title: 'Allunyar-se',
		icon: zoomOut,
		eventAction: DefaultAction.ZOOM_OUT,
	},
];

export interface Props {
	fractalInfo: FractalInfo;
}

const { fractalInfo } = Astro.props;
console.log(fractalInfo);

//const shaders = fractal.getShaders().map((shader) => (shader.then(value => console.log(value))))
---

<Base title={fractalInfo.name}>
	<div class="relative h-screen w-screen">
		<canvas
			class="absolute h-full w-full"
			id="canvas"
			data-fractal={fractalInfo.id}></canvas>
		<h1
			class="floating-box absolute p-2 text-2xl text-primary-100 transition hover:bg-primary-800/60 sm:right-0 sm:top-0"
		>
			{fractalInfo.name}
		</h1>
		<div class="floating-box absolute inset-y-0 left-0 w-48">
			<button class="w-full rounded-b-none font-semibold" id="homeBtn"
				>Pàgina principal
			</button>
		</div>
		<div class="floating-box absolute bottom-0 right-0">
			{
				buttons.map((b) => (
					<button
						class="h-12 w-12 rounded-none first:rounded-l-md last:rounded-r-md"
						title={b.title}
						data-action={b.eventAction}
						onclick="window.dispatchEvent(new CustomEvent('fractal-interact', {detail: this.dataset.action}))"
					>
						<Fragment set:html={b.icon} />
					</button>
				))
			}
		</div>
	</div>
</Base>

<script>
	const homeBtn = document.getElementById('homeBtn') as HTMLButtonElement;
	homeBtn.addEventListener('click', () => {
		window.location.href = '/';
	});

	window.addEventListener('fractal-interact', (e) => {
		// TODO - millorar type-safety creant un tipus específic de CustomEvent
		console.log((e as CustomEvent).detail);
	});
</script>
